{% extends "base.html" %}
{% block body %}

<div class="col-lg-6 offset-lg-3 p-5">
<div class="d-flex flex-row-reverse mb-5">
    <a href="{% url "team-member-create" %}" type="button" class="btn btn-primary">Create member</a>
</div>
<h1>Team members</h1>
<h5>
  You have {{ object_list|length }} team member{% if object_list|length > 1 %}s{% endif %}.
</h5>
<hr class="mb-5"/>
<div>
  {% for team_member in object_list %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ team_member.first_name }} {{ team_member.last_name }} {% if team_member.role == 2 %}(admin){% endif %}</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ team_member.phone }}</li>
            <li class="list-group-item">{{ team_member.email }}</li>
        </ul>
        <div class="card-body">
            <a href="{% url "team-member-update" team_member.id %}" class="card-link">Edit member</a>
        </div>
        </div>
    <div>
  {% empty %}
  <li>No team members yet.</li>
  {% endfor %}
</div>
</div>

{% endblock body %}
